@import './shared';

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include respond(tab-land) {
    height: calc(100% - 70px);
  }

  &Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    @include respond(tab-land) {
      width: 80%;
    }
  }

  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-size: 4.8rem;

    @include respond(phone) {
      font-size: 3.6rem;
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'name name email email'
      'subject subject subject subject'
      'message message message message'
      '. submit submit .';
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    width: 100%;

    div:nth-of-type(1) {
      grid-area: name;
    }

    div:nth-of-type(2) {
      grid-area: email;
    }

    div:nth-of-type(3) {
      grid-area: subject;
    }

    div:nth-of-type(4) {
      grid-area: message;
    }

    button {
      grid-area: submit;
      width: 100%;
      font-size: 1.6rem;
    }
  }
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    width: 100px;
    height: 4px;
    margin: 1.6rem 0;
    background-color: #333bd9;
  }
}

.btn {
  position: relative;
  padding: 1rem 0;
  width: 125px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: transparent;
  border: 1px solid black;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:hover::before {
    opacity: 1;
    transform: translatex(0%);
  }

  &:hover .btnOverlay {
    opacity: 1;
    transform: translatex(0);
  }

  &:hover .btnText {
    transform: translatex(-100%);
    opacity: 0;
  }

  &::before {
    content: attr(data-text);
    color: #fff;
    opacity: 0;
    position: absolute;
    transform: translatex(65%);
    z-index: 10;
    transition: all 0.4s ease;
  }

  &Overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    color: #fff;
    opacity: 0;
    transform: translatex(100%) skew(-15deg);
    transition: transform 0.5s ease, opacity 0.3s ease;
    background-color: black;
  }

  &Text {
    display: inline-block;
    opacity: 1;
    transform: translatex(0);
    transition: 0.4s all ease;
  }
}
