.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 1px solid black;
  font-size: 1.6rem;
  transition: all 0.2s ease;
}

.label {
  padding: 0 10px 3px 1rem;
  font-size: 2rem;
  transition: all 0.2s ease;
}

.error {
  & > input {
    border: 1px solid #ef0d33;
  }

  & > label {
    color: #ef0d33;
  }
}

.errorMessage {
  color: #ef0d33;
}
