@import './shared';

.project {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 12rem;

    @media (max-width: 50em) {
      justify-content: center;
    }

    @include respond(phone) {
      margin-bottom: 5rem;
    }
  }

  &Content {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 400px;

    @media (max-width: 50em) {
      justify-content: center;
    }
  }

  &Title {
    display: flex;
    align-items: center;
    overflow: hidden;

    @media (max-width: 50em) {
      justify-content: center;
    }

    & > div {
      font-size: 2.4rem;
      margin: 0 1rem;
    }
  }

  &Description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 50em) {
      width: 70%;
    }

    @include respond(phone) {
      width: 100%;
    }

    & > h2 {
      font-size: 4.8rem;

      @media (max-width: 50em) {
        font-size: 3.6rem;
        margin-bottom: 200px;
        text-align: center;
      }
    }

    & h3 {
      font-size: 1.6rem;
      margin-bottom: 1.4rem;
    }

    & p {
      font-size: 1.4rem;
      opacity: 0.7;
    }
  }

  &Lower {
    @media (max-width: 50em) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &Image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 60%;
    overflow: hidden;

    @media (max-width: 50em) {
      height: 250px;
      width: 70%;
      position: absolute;
    }

    @include respond(phone) {
      width: 100%;
    }

    &Container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > img {
      position: absolute;
      left: 0;
      height: 400px;
      margin-left: 0%;

      @media (max-width: 50em) {
        top: 65px;
        height: auto;
        width: 100%;
        position: absolute;
      }
    }
  }
}

.techList {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;

  & > ul {
    display: flex;

    & > li {
      list-style: none;
      font-size: 1.4rem;
      margin-right: 1rem;
      opacity: 0.7;
    }
  }
}

.divider {
  width: 50px;
  height: 4px;
  margin: 1.6rem 0;
}

.btns {
  & > button {
    margin-right: 1.2rem;
  }
}

.codesmith {
  content: url('../assets/codesmith.png');

  @include respond(phone) {
    content: url('../assets/codesmith-small.png');
  }
}

.avalon {
  content: url('../assets/avalon.png');

  @include respond(phone) {
    content: url('../assets/avalon-small.png');
  }
}

.proto {
  content: url('../assets/proto.png');

  @include respond(phone) {
    content: url('../assets/proto-small.png');
  }
}

.run {
  content: url('../assets/run.png');

  @include respond(phone) {
    content: url('../assets/run-small.png');
  }
}

.swell {
  content: url('../assets/swell.png');
}
