@import './shared';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 3.2rem 0 3.2rem 3.2rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @include respond(tab-land) {
    height: calc(100%);
    padding: 1rem 1rem 1rem 1rem;
  }
}
